{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 p-3" style="margin-bottom:100px;">
<h2 class="text-center">Add Stock Details...</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 row">
      <input value="{{pro.stock}}" type="number" class="form-control" name="s" placeholder="Enter Stock">
    </div>

        <div class="mb-3 text-center">
  <input type="submit" value="SUBMIT">
</div>
    </form>
</div>
{% endblock %}